body{
    margin: 0;
    padding: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: #f4f4f4;
}

/* Bloco de estilização de cabeçalho */
header{
    background-color: #ff9800;
    color: #fff;
    text-align: center;
    padding: 1rem 0;
}

.banner-content{
    width: 80%;
}

.banner h1{
    font-size: 3rem;
    margin-bottom: 1rem;
}

.banner p{
    font-size: 1.2rem;
    margin-bottom: 2rem;
}

/* Estilização de menu de navegação */
nav a{
    text-decoration: none;
    color: #333;
    margin: 0 1rem;
    padding: 0.5rem 1rem;
    background-color: #ffca28;
    border-radius: 5px;
}

nav a:hover{
    background-color: #ffeb3b;
}

main{
    width: 80%;
    margin: 2rem auto;
}

/* Estilização das seções da página compostas por Produtos, Bebidas, Pedido e Contato */
.categoria{
    margin-bottom: 2rem;
}

.produto{
    background-color: #f01d1d;
    border-radius: 8px;
    padding: 1rem;
    margin-bottom: 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.produto img{
    max-width: 100%;
    height: auto;
    border-radius: 8px;
    margin-bottom: 1rem;
}

.preco{
    font-weight: bold;
    color: #ff9800;
    margin-bottom: 1rem;
}

.adicionar{
    background-color: #ffca28;
    color: #333;
    border: none;
    padding: 0.5rem 1rem;
    border-radius: 4px;
    cursor: pointer;
}



/* Estilo de responsividade */
@media (min-width: 768px){
    main{
        width: 60%;
    }
    .categoria{
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
        gap: 1rem;
    }
}